body {
  padding-bottom: 12.08888889rem;
  background-color: #000000;
}
body .login-logo {
  margin-top: 5.33333333rem;
  margin-left: 8.24888889rem;
  margin-right: 8.03555556rem;
  width: 10.38222222rem;
  height: 4.33777778rem;
}
body .login-logo img {
  width: 100%;
  height: 100%;
}
body form {
  font-size: 1.06666667rem;
}
body form > p {
  height: 1.99111111rem;
  line-height: 1.99111111rem;
  margin-left: 6.11555556rem;
  margin-bottom: 1.77777778rem;
  margin-right: 4.90666667rem;
  border-bottom: 1px solid #fff;
  color: #ffffff;
}
body form > p input {
  width: 11.37777778rem;
  background-color: #000000;
  border: none;
  outline: none;
}
body form > p:first-child {
  margin-top: 2.84444444rem;
}
body form .identify {
  overflow: hidden;
}
body form .identify p {
  height: 1.99111111rem;
  line-height: 1.99111111rem;
  margin-left: 6.11555556rem;
  color: #ffffff;
  float: left;
  border-bottom: 1px solid #fff;
  width: 10.24rem;
}
body form .identify p input {
  width: 5.97333333rem;
  background-color: #000000;
  border: none;
  outline: none;
}
body form .identify div {
  float: right;
  margin-top: 0.42666667rem;
  margin-right: 4.90666667rem;
  width: 4.55111111rem;
  height: 1.42222222rem;
}
body form .identify div img {
  width: 100%;
  height: 100%;
}
body .submit {
  margin-left: 6.11555556rem;
  margin-top: 2.48888889rem;
  width: 15.78666667rem;
  height: 2.63111111rem;
  line-height: 2.63111111rem;
  text-align: center;
  border-radius: 4%;
  background-color: #ffffff;
}
body .register {
  overflow: hidden;
  margin-top: 0.71111111rem;
}
body .register a {
  color: #ffffff;
  font-size: 0.85333333rem;
}
body .register a:first-child {
  float: left;
  margin-left: 6.25777778rem;
}
body .register a:last-child {
  float: right;
  margin-right: 4.97777778rem;
}
body .other-ways {
  margin-top: 2.77333333rem;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
}
body .other-ways p {
  font-size: 1.28rem;
  margin-bottom: 1.13777778rem;
}
body .other-ways a {
  width: 3.91111111rem;
  height: 3.91111111rem;
  float: left;
  margin-left: 1.77777778rem;
}
body .other-ways a:nth-of-type(1) {
  margin-left: 6.32888889rem;
}
body .other-ways a img {
  width: 100%;
  height: 100%;
}
