.icon {
  display: inline-block;
  width: 0.71111111rem;
  height: 0.71111111rem;
  background-position: center;
  background-repeat: no-repeat;
}
.icon.icon-back {
  background-image: url('../img/icon_back.png');
}
.icon.icon-arrow {
  background-image: url('../img/icon_arrow.png');
}
.icon.icon-search {
  background-image: url('../img/icon_search.png');
}
.icon.icon-loading {
  background-image: url('../img/icon_loading.png');
}
.container {
  padding-left: 0.35555556rem;
  padding-right: 0.35555556rem;
}
.header {
  height: 3.2rem;
  background-color: #000000;
  padding-right: 1.06666667rem;
  padding-left: 0.88888889rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2 {
  color: #ffffff;
  font-size: 1.06666667rem;
  line-height: 3.2rem;
}
.header .icon-back {
  width: 0.71111111rem;
  height: 1.24444444rem;
  margin-right: 0.71111111rem;
  background-size: 0.71111111rem 1.24444444rem;
}
.header .icon-search {
  width: 1.42222222rem;
  height: 1.42222222rem;
  background-size: 1.42222222rem 1.42222222rem;
}
.check input[type=checkbox] {
  display: none;
  appearance: none;
}
.check input[type=checkbox] + span {
  display: block;
  width: 0.56888889rem;
  height: 0.56888889rem;
  border: 0.10666667px solid #000000;
}
.check input[type=checkbox]:checked + span {
  background-color: #000000;
}
.main {
  overflow: hidden;
}
.main .item {
  width: 24.17777778rem;
  margin: 0 auto 1.17333333px;
  border-bottom: 1px solid #d2d2d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.78222222rem;
}
.main .item img {
  width: 11.37777778rem;
  height: 7.82222222rem;
}
.main .item .desc {
  width: 10.80888889rem;
}
.main .item h3 {
  margin-top: 1.95555556rem;
  font-size: 0.85333333rem;
  line-height: 1.28rem;
}
.main .item .current {
  margin-top: 1.24444444rem;
  color: #ff0000;
  font-size: 1.28rem;
}
.main .item .old {
  font-size: 0.85333333rem;
  color: #999999;
  line-height: 1.13777778rem;
  text-decoration: line-through;
}
.main .item .num-box {
  float: left;
  width: 4.40888889rem;
  height: 1.20888889rem;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
.main .item .num-box .reduce,
.main .item .num-box .plus {
  height: 1.13777778rem;
  width: 1.13777778rem;
  line-height: 1.06666667rem;
  text-align: center;
  border: none;
  outline: none;
  background: none;
  font-size: 0.85333333rem;
  box-sizing: border-box;
}
.main .item .num-box .num {
  width: 1.92rem;
  text-align: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: none;
  border-bottom: none;
  outline: none;
}
.main .item .del {
  float: right;
  font-size: 0.85333333rem;
  color: #999999;
  border: none;
  outline: none;
  background: none;
}
.bottom-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 25.95555556rem;
  height: 4.62222222rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-bar .check {
  font-size: 1.06666667rem;
}
.bottom-bar .check span {
  float: left;
  margin-top: 0.28444444rem;
  margin-right: 0.71111111rem;
  margin-left: 1.06666667rem;
}
.bottom-bar .total {
  font-size: 1.28rem;
  margin-left: 3.55555556rem;
}
.bottom-bar .total span {
  color: #ff0000;
}
.bottom-bar .pay {
  width: 6.93333333rem;
  height: 1.92rem;
  background-color: #ff0000;
  border-radius: 0.17777778rem;
  font-size: 0.85333333rem;
  text-align: center;
  line-height: 1.92rem;
  color: #ffffff;
}
